@import url("./thumbs.css");
article {
    .caption {
        z-index: 3;
        width: 106px;
        height: 1.2em;
        color: white;
        position: absolute;
        bottom: 7px;
        left: 7px;
        translate: 0 15%;
        transition: color 60ms linear, translate 90ms ease-out;
    }

    &:hover .caption {
        translate: 0;
    }

    &:hover::after {
        opacity: 50%;
    }
}